.home{
    background-image: url("./images/super_mario_bros.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#home{
    background-color: lightblue;
}

body{
    background-image: url("./images/form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}